body {
  font-weight: normal;
}
h1 {
  font-size: 200%;
  font-weight: 800;
}
a:hover {
  text-decoration: none;
}
.navbar {
  padding-right: 60px;
}
.navbar a {
  font-weight: 700;
  border-bottom: 1px solid transparent;
}
.navbar a:hover {
  border-bottom: 1px solid #33cc99;
}
.content-area {
  padding: 0 16px 16px 16px;
}
.card {
  margin-top: 20px;
}
.card-header {
  font-size: 150%;
  font-weight: 700;
}
footer {
}
.copyright {
  font-weight: 700 !important;
}
.text-muted {
  font-weight: normal;
}
