.cover-container {
  // background: $neutralLightest;
}
.tab-content {
  background: $neutralLightest;
}
.tab-content .active {
  background: $neutralLightest;
}
.footer {
  font-size: 60%;
}
.footer p {
  margin-bottom: 0.1rem;
}
.nopadding {
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
