.navbar {
  padding-right: 20px;
  padding-left: 5px;
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
  border-bottom: 0rem;
}
.navbar a {
  font-weight: 700;
  border-bottom: 1px solid transparent;
}
.navbar a:hover {
  border-bottom: 1px solid $secondary;
}
.navbar-brand {
  padding-top: 0rem;
  padding-bottom: 0rem;
  margin-right: 1rem;
}
.bg-dark {
  // background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity));
}
