.advent {
  background-color: #c1b2c9;
}

.christmasday {
  background-color: $gold;
}

.christmas {
  background-color: $gold;
}

.epiphany {
  background-color: $neutralLightest;
}

.lent {
  background-color: #c1b2c9;
}
