$primary: #067966;
$primaryLight: #067957;
$primaryDark: #064835;

$secondary: #da0403;
$secondaryLight: #cb183f;
$secondaryDark: #731b2e;

$tertiary: #bfa678;
$tertiaryLight: #bfa678;
$tertiaryDark: #bfa678;

$quaternary: #77b82b;
$quaternaryLight: lighten($quaternary, 5%);
$quaternaryDark: darken($quaternary, 10%);

$text: #3d3d3d;
$light-text: #ffffff;
$strong: #000000;
$dark-text: #37373f;

$link: #067957;

$neutralDarker: #000000;
$neutrayDark: #000000;
$neutral: #3d3d3d;
$neutralLight: #67686a;
$neutralLighter: #abacad;
$neutralLightest: #f2f2f2;

$orange: #ff6929;
$orangeLight: #faad60;
$orangeDark: #ef4627;

$green: #067966;
$greenLight: #067957;
$greenDark: #064835;

$white: #ffffff;
$black: #000000;

$red: #990000;
$grey: #d8d8d8;
$yellow: #ffa900;
$pink: #fd5d5d;
$blue: #007bc1;
$brown: #bfa678;
$purple: #69089f;
